emacs.reverseVideo:on
emacs.font:10x20
emacs.cursorColor:green
emacs.bitmapIcon:on
emacs.borderWidth:0
emacs.internalBorder:1
emacs.geometry:80x40
emacs24.font:10x20
emacs24.cursorColor:green
emacs24.bitmapIcon:on
emacs24.borderWidth:0
emacs24.internalBorder:1
emacs24.geometry:80x40
